<div class="register-container">
  <div class="image-container">
    <img src="https://images.pexels.com/photos/17668535/pexels-photo-17668535/free-photo-of-flowers-candles-and-fruits-on-an-outdoor-table.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Login Image">
  </div>
  <div class="form-container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="registerData.username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <p *ngIf="responseMessage" [ngClass]="{'response-message': isSuccess, 'error-message': !isSuccess}">
      {{ responseMessage }}
    </p>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
