<!-- <div class="available-products-container">
    <h2>Available Products</h2>
    <div class="product-card" *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <p>Price: ${{ product.price }}</p>
      <p>Time left: {{ product.timeLeft }}</p>
      <button><a [routerLink]="['/product', product.id]">View Details</a> </button> 
    </div>
  </div>
   -->
   <app-header></app-header>
   <div class="available-products-container">
    <h2>Available Products</h2>
    <div class="product-card" *ngFor="let product of products" (click)="viewProductDetail(product.id)">
      <h3>{{ product.name }}</h3>
      <p>Price: ${{ product.price }}</p>
      <p>Time left: {{ product.timeLeft }}</p>
      <a [routerLink]="['/product', product.id]">View Details</a>
    </div>
  </div>
  